<h1>Events</h1>

<%= render @events %>

<%= link_to 'New Event', new_event_path %>

<% @events.each do |event| %>
  <tr>
    <td><%= event.name %></td>
    <td><%= image_tag event.event_image.url, width: 100 %></td>
    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>