<p id="notice"><%= notice %></p>

<p>
  <b>Image:</b>
  <%= image_tag @event.event_image.url, width: 300 %>
</p> 


<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>


<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Venue:</strong>
  <%= link_to @event.venue.name, @event.venue %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @event.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @event.end_time %>
</p>

<p>
  <strong>Event created by:</strong>
  <%= link_to @event.user.username, @event.user %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Destroy', @event, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Back', events_path %>
