<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to "Home", root_path %></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li><%= link_to "Events", events_path %></li>
      <li><%= link_to "Contact us", users_path %></li>
      <% if user_signed_in? %>
        <li><%= link_to "Posts", posts_path %></li>
        <li><%= link_to "Venues", venues_path %></li>
        <li class="has-dropdown">
          <a href="#"><%= current_user.username %></a>
          <ul class="dropdown">
            <li><%= link_to "My Profile", current_user %></li>
            <li><%= link_to "Edit My Profile", edit_user_registration_path %></li>
            <li><%= link_to "Logout", "#" %></li>
          </ul>
        </li>
      <% else %>
        <li><%= link_to "Register", new_user_registration_path %></li>
        <li><%= link_to "Sign in", new_user_session_path %></li>
      <% end %>
    </ul>
  </ul>

  <!-- Left Nav Section -->
  <ul class="left">
    <li><a href="#">Left Nav Button</a></li>
  </ul>
</section>
</nav>