<li>
  <%= image_tag event.image.thumb %>
  <h3><%= link_to event.name, event %></h3>
  at <%= event.venue.try(:name) %>
  <%= event.description %>
  <%= event.start_time %>h-<%= event.end_time %>h
</li>
