<h1><%= @venue.name %></h1>

<%= image_tag @venue.image.url, width: 300 %>
<p>
  <strong>Created By:</strong>
  <%= link_to @venue.user.username, @venue.user %>
</p>

<p>
  <strong>Description:</strong>
  <%= @venue.description %>
</p>

<h2>Reviews:</h2>

<ul>
  <%= render @venue.posts %>
</ul>

<br>

<%= link_to 'Edit', edit_venue_path(@venue) %> |
<%= link_to 'Destroy', @venue, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', venues_path %>
