<!DOCTYPE html>
<html>
<head>
  <title>Swing It!</title>
  <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
<header>
  <nav>
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Events", events_path %></li>
      <li><%= link_to "Contact us", users_path %></li>
      <% if current_user %>
      <li><%= link_to current_user.username, current_user %></li>
     <li><%= link_to "Edit My Profile", edit_user_registration_path %></li>   
    <li><%= link_to "Posts", posts_path %></li>
      <li><%= link_to "Venues", venues_path %></li>
      <li><%= link_to "Logout", "#" %></li>
      <% else %>
      <li><%= link_to "Register", new_user_registration_path %></li>
      <li><%= link_to "Sign in", new_user_session_path %></li>
      <% end %>
    </ul>
  </nav>
</header>

<% flash.each do |name, message| %>
  <div class="flash-message flash-message-<%= name %>">
    <%= message %>
  </div>
  
<% end %>
<%= yield %>
<footer>

<ul class="inline-list">
  <li><a href="">Home</a></li>
  <li><a href="">Events</a></li>
  <li><a href="">Contact us</a></li>
</ul>
</footer>

</body>
</html>
