<!DOCTYPE html>
<html>
<head>
  <title>Swing It!</title>
  <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "header" %>

  <% flash.each do |name, message| %>
    <div class="flash-message flash-message-<%= name %>">
      <%= message %>
    </div>  
  <% end %>

  <%= yield %>
  <footer>
    <ul class="inline-list">
      <li><a href="">Home</a></li>
      <li><a href="">Events</a></li>
      <li><a href="">Contact us</a></li>
    </ul>
  </footer>
</body>
</html>