<h1>Venues</h1>

<%= render @venues %>      

<%= link_to 'New Venue', new_venue_path %>

<% @venues.each do |venue| %>
  <tr>
    <td><%= venue.name %></td>
    <td><%= image_tag venue.venue_image.url, width: 100 %></td>
    <td><%= link_to 'Show', venue %></td>
    <td><%= link_to 'Edit', edit_venue_path(venue) %></td>
    <td><%= link_to 'Destroy', venue, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
