<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @venue.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @venue.description %>
</p>

<p>
  <strong>Created By:</strong>
  <%= link_to @venue.user.username, @venue.user %>
</p>


<h4>Reviews:</h4>

<ul>
<% @venue.posts.each do |post| %>
<li><%= link_to post.title, post %></li>
<% end %>
</ul>
<br>

<%= link_to 'Edit', edit_venue_path(@venue) %> |
<%= link_to 'Back', venues_path %>
