<header>
  <nav class="top-bar row" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><%= link_to "Swing 23", root_path %></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <% if user_signed_in? %>
          <li class="has-dropdown">
            <a href="#">Add</a>
            <ul class="dropdown">
              <li><%= link_to 'Event', new_event_path %></li>
              <li><%= link_to 'Venue', new_venue_path %></li>
              <li><%= link_to 'Review', new_post_path %></li>
            </ul>
          </li>
          <li class="has-dropdown">
            <a href="#"><%= current_user.username %></a>
            <ul class="dropdown">
              <li><%= link_to "My Profile", current_user %></li>
              <li><%= link_to "Edit My Profile", edit_user_registration_path %></li>
              <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <li>
            <%= link_to "Register", new_user_registration_path %>
          </li>
          <li>
            <%= link_to "Sign in", new_user_session_path %>
          </li>
        <% end %>
      </ul>
    </ul>

    <ul class="left">
      <li><%= link_to "Events", events_path %></li>
      <li><%= link_to "Venues", venues_path %></li>
      <li><%= link_to "Reviews", reviews_path %></li>
      <li><%= link_to "Users", users_path %></li>
    </ul>
  </section>
</nav>
</header>